# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/.idea
/../lib
/../*.iml
/../lib/*
/kotlinc.xml
/libraries/KotlinJavaRuntime.xml
/../out/*
/../ProxyMode.iml
/*.xml
